<template>
	<v-form>
		<v-container>
			<v-row>
				<v-col>
					<v-text-field
							v-model="product.title"
							placeholder="Product name"
					></v-text-field>
				</v-col>
				<v-col>
					<v-text-field
							v-model="product.description"
							placeholder="Product description"
					></v-text-field>
				</v-col>
				<v-col>
					<v-text-field
							v-model="product.price"
							placeholder="Product price"
					></v-text-field>
				</v-col>
				<v-col>
					<v-text-field
							v-model="product.vendor.name"
							placeholder="Vendor's name"
					></v-text-field>
				</v-col>
				<v-col>
					<v-text-field
							v-model="product.vendor.email"
							placeholder="Vendor's support email"
					></v-text-field>
				</v-col>
				<v-col>
					<v-btn @click="addProduct">Add product</v-btn>
				</v-col>
			</v-row>
		</v-container>
	</v-form>
</template>

<script>
  export default {
    data () {
      return {
        product: {
          title: null,
					description: null,
					price: null,
          vendor: {
            name: null,
						email: null
					}
				}
			}
		},
		methods: {
      ...mapActions([
        ''
			])
		}
  }
</script>

<style scoped>

</style>
